*{
    font-family: Segoe UI Light;
}

#LoginC{margin: 0;
    padding: 0;}
#Catalogo{margin: 0;
    padding: 0;}
#Contacto{margin: 0;
    padding: 0;/* Page Login background:  #3fc7fb;*/}
#rClientes{margin: 0;
    padding: 0;}
#rUsuarios{margin: 0;
    padding: 0;}
/* header */
.menu ul{
    height: 60px;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-right: 80px;

}
.menu a:hover{background: rgba(0,0,0,0.3);}
.menu li a{
    margin-top: 5px;
    margin-right: 10px;
    content: center;
    display: block;
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
}
header{
    background: linear-gradient(90deg, rgba(56,96,159,1) 0%, rgba(26,151,211,1) 47%, rgba(0,198,255,1) 100%);
    width: 100%;
    height: 60px;
    position: relative;
}
header img{
    margin-top: 5px;
    height: 50px;
    float: left;
    margin-left:5px;
    cursor: pointer;
    display: flex;
}
/* Page Catalogo */
.mainCatalogo{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 900px;
    display: block;
}
.mainCatalogo h1{padding-left: 50px;}
/* slideshow Principal */
.slideshow1 {
    width: 100%;
}
.wrapper1 {
    margin-top: 45px;
    margin-bottom:45px;
}
.slide1{
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 300px;
    box-shadow: 0px 5px 14px 8px rgba(0,0,0,.5);
    border-radius: 10px;
}
/* slideshow Principal  Descripcion*/
.sb-description {
    border-radius: 10px;
    padding: 10px;
    bottom: 5px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    position: absolute;
    color: black;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}
.sb-description {opacity: 0;}
.sb-description:hover {opacity: 1;background: linear-gradient(299deg, rgba(255,224,165,0.96) 0%, rgba(19,199,255,0.7) 100%);}
.sb-description h1 {color: #fff;font-size: 20px;margin-top: 0px;}
.sb-description p {font-size: 13px; font-weight: bold;}
/* slideshow Secundario */
.slideshow2 {
    margin: auto;
    display: block;
    width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.wrapper2 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.slide2{ 
    width: 160px;
    height: 430px;
    box-shadow: 0px 5px 14px 8px rgba(0,0,0,.5);
    border-radius: 10px;
}
.slide2 img{
    width: 100%;
    margin: auto;
    display: block;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}.slide2 h3{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #7F7F7F;
    font-size: 13px;
}.slide2 h1{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #262626;
    font-size: 20px;
}.slide2 h5{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #7F7F7F;
    font-size: 10px;
}.slide2 h4{
    margin-top: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #595959;
    font-size: 12px;
    display: inline;
}.slide2 h2{
    padding-left: 10px;
    color: #595959;
    font-size: 18px;
    display: inline;
}
/* Page Login */
.mainLogin{
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 130px;
    width: 700px;
    height: 400px;
    background: linear-gradient(90deg, rgba(56,96,159,1) 0%, rgba(26,151,211,1) 47%, rgba(0,198,255,1) 100%);
    border-radius:8px;
    display: block;
}
.headerLogin{
    background: rgba(56,96,159,1);
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    height: 50px;
}
.headerLogin h1{
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
.contentLogin{
    width: 100%;
    margin-top:30px;
}
.contentLogin img{
    width: 250px;
    display: block;
    margin: auto;
}
.form{
    margin: auto;
    width: 500px;
}
.inputLogin{
    margin: auto;
    margin-top: 20px;
    width: 160px;
    margin-left: 50px;
}
.textLogin{
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold; 
}
.linkLogin{
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
}
/* Page Venta */
.mainVenta{
    width: 900px;
    height: 1000px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.contentVenta{
    display: block;
}
.contLeftVenta{
    width: 55%;
    height: 520px;
    float: left;
    overflow: hidden;
    display: block;
}
.contLeftVenta img{
    height: 510px;
    margin-left:-98px;
}
#contRightVenta{
    width: 380px;
    margin-right:10px;
    margin-bottom:5px;
    float: right;
}
#contRightVenta h2,h4,h5{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 5px;
}
#contRightVenta h2{
    font-size: 22px;
    color: black;
}
#contRightVenta h3{
    color: black;
    margin-top: 7px;
    margin-bottom: 5px;
}
#contRightVenta h4{
    font-size: 14px;
    color: black;
}
#contRightVenta h5{
    font-size: 13px;
    padding-left: 15px;
    color: #595959;
 }
#contRightVenta form{
    margin-top: 20px;
}
.columnaForm{
    width: 50%;
    display: block;
    float: left;
}
.formVenta{
    width: 100%;
    display: block;
    float: left;
}
#contentFormVenta{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background:#DBDBDB;
}
.columnaV{
    width: 28%;
}
.columnaV p{
    display: inline-block;
    font-size: 30px;
    color: black;
}
/* Page Usuarios */
.mainRUsuarios{
    width: 825px;
    height: 540px;
    background: linear-gradient(90deg, rgba(56,96,159,1) 0%, rgba(26,151,211,1) 47%, rgba(0,198,255,1) 100%);
    border-radius:8px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
/* Page Clientes */
.mainRClientes{
    width: 825px;
    height: 540px;
    background: linear-gradient(90deg, rgba(56,96,159,1) 0%, rgba(26,151,211,1) 47%, rgba(0,198,255,1) 100%);
    border-radius:8px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#contRightDoble{
    width: 380px;
    margin-right:20px;
    margin-top: 45px;
    margin-bottom:5px;
    float: right;
    align-items: center;
    align-content: center;
}
#contRightDoble h2{
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
    color: white;
}
#contRightDoble img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#contRightDoble form{
    margin-top: 20px;
}
.columnaForm{
    width: 50%;
    display: block;
    float: left;
}
/* Page Contacto */
.mainContacto{
    width: 705px;
    height: 540px;
    background: linear-gradient(90deg, rgba(56,96,159,1) 0%, rgba(26,151,211,1) 47%, rgba(0,198,255,1) 100%);
    border-radius:8px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#contLeft{
    width: 385px;
    height: 435px;
    float: left;
    margin-left: 25px;
    margin-top: 55px;
    overflow: hidden;
}
#contLeft ul{
    padding: 0px;
    margin-top: 0px;
    list-style: none;
    width: 1925px;
    display: flex;
    animation: slide 20s infinite;
}
#contLeft img{
    width: 385px;
    height: 435px;
}
@keyframes slide{
    0%{margin-left: 0px;}10%{margin-left: 0px;}   
    15%{margin-left: -385px;}25%{margin-left: -385px;}
    30%{margin-left: -770px;}40%{margin-left: -770px;}
    45%{margin-left: -1155px;}55%{margin-left: -1155px;}
    60%{margin-left: -1540px;}70%{margin-left: -1540px;}
    75%{margin-left: -1925px;}85%{margin-left: -1925px;}
    95%{margin-left: -2310px;}100%{margin-left: -2310px;}
}#contRight{
    width: 250px;
    margin-right:20px;
    margin-top: auto;
    margin-bottom:5px;
    float: right;
    align-items: center;
    align-content: center;
}
#contRight h2{
    margin-top: 60px;
    font-size: 22px;
    text-align: center;
    color: white;
}
#contRight img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#contRight form{
    margin-top: 20px;
}

/* Botones */
.enviar{
    display: block;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    height: 25px;
    border-radius: 5px;
    border: 1px;
    background: linear-gradient(0deg, rgba(5,72,170,1) 1%, rgba(46,117,182,1) 100%);
    color: white; 
    font-size: 14px;
}
.enviarColumnaI{
    display: block;
    cursor: pointer;
    margin-left: 10px;
    float: left;
    margin-top: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px;
    background: linear-gradient(0deg, rgba(5,72,170,1) 1%, rgba(46,117,182,1) 100%);
    color: white; 
    font-size: 14px;
}
.enviarColumnaD{
    display: block;
    cursor: pointer;
    margin-right: 15px;
    float: right;
    margin-top: 5px;
    height: 25px;
    border-radius: 5px;
    border: 1px;
    background: linear-gradient(0deg, rgba(5,72,170,1) 1%, rgba(46,117,182,1) 100%);
    color: white; 
    font-size: 14px;
}

.Corto{padding:2px 30px 25px 30px;}
.Largo{width: 135px;}
.enviar:active{transform: scale(0.95);}
.enviar:hover {opacity: 0.9;}

.verMas{
    display: block;
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px;
    background: linear-gradient(0deg, rgba(5,72,170,1) 1%, rgba(46,117,182,1) 100%);
    color: white; 
    font-size: 14px;
    padding:2px 15px 25px 15px;
}
.verMas:active{transform: scale(0.95);}
.verMas:hover {opacity: 0.9;}
/* Inputs */
.inputForm{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-left: 5px;
    font-style: italic;
    border: 1px solid #e4e4ec;
}
.large{width: 150px;}
.medium{width: 115px;}
.short{width: 100px;}
.small{width: 30px;}


/* Pied de pagina */

footer {
    margin-top: 10px;
    padding-top:20px;
    padding-bottom:40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
#contacto{
    background: linear-gradient(90deg, rgba(56,96,159,1) 0%, rgba(26,151,211,1) 47%, rgba(0,198,255,1) 100%);
    height: 100px;
}
.partFooter {
    width: 20%;
    text-align: center;
    height: 80px
}
.partFooter h4 {
    margin-top: 0;
    margin-bottom: 7px;
    color: #f2f2f2;
    font-size: 20px;
}
.partFooter a {
    margin-top: 0;
    display: block;
    text-decoration: none;
    color: white;
}
.partFooter img {
    height: 60px;
}
.social-media a {
    font-size: 20px;
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
}
