{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script defer src="{% static 'js/login.js' %}"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    
    <title>Mercedes Benz - Iniciar sesión</title>
</head>
<body>
    <div id="bg">
        <div id="dark-cover">
            <div id="main">
                <img src="{% static 'img/logo3.png' %}" id="logoFondo" alt="Logo" width="20%">
                <form method="post">
                    <div id="loginForm">
                        {% csrf_token %}
                        <h2>Login</h2>
                        <input class="form-control" autocapitalize="none" type="text" placeholder="Usuario" id="id_username" type="username" name="username">
                        <input class="form-control" type="password" placeholder="Contraseña" id="id_password" type="password" name="password">
                        {% if messages %}
                            {% for message in messages %}
                            <p class="alert"> 
                                {{ message }} 
                            </p>
                            {% endfor %}
                        {% endif %}
                        <button type="submit" id="loginButton">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>