<!DOCTYPE html>
<html lang="es">
<head class="w-full h-screen m-0 p-0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Mercedes Benz | Agregar prospecto</title>
</head>
<body class="w-full h-screen m-0 p-0 bg-gray-200 flex flex-col">
    {% include 'nav.html' %}

    <main class="w-full h-full flex flex-row">
        {% include 'sidebar.html' with tipo=User.tipo %}
        <div class="w-full h-full p-8">
            <form method="post" class="w-96 flex flex-col gap-4 text-lg text-gray-600">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Aceptar" class="bg-green-500 w-full text-white font-bold py-2 rounded-md cursor-pointer">
            </form>
        </div>
    </main>
</body>
</html>